%section.box.boxC.namecards.noBorder.noScroll
 %ul.listE
  - owners.each do |owner|
   %li
    = image_tag owner.avatar.url, width: "81", height: "81", alt: "Avatar"
    %h2
     = link_to owner.name, user_profile_path(owner)
    %strong= owner.profile.place

  - leaders.each do |leader|
   %li
    = image_tag leader.avatar.url, width: "81", height: "81", alt: "Avatar"
    %h2
     = link_to leader.name, user_profile_path(leader)
    %strong
     Eagan, Minneapolis, USA
    - if editable_state 
     .options-wrap
      %button.mod-options
       Options
      %ul.options-list
       %li
        = link_to "Remove from group", group_removes_member_path(group, leader), :method => :delete
       %li
        = link_to "Remove from group council", group_remove_from_group_leader_path(group, leader), :method => :put
       %li
        = link_to "Block from group", group_block_path(group, leader), :method => :put