#main.inwards.colgroup.colgroup2

  %hgroup
    %h1 Interests
    %h6 


  .col

    .book.bookA
      %section

        %ul.listC.abc.tags-meter
          - @grouped_interests.each do |grouped_interest|
            %li
              %span= grouped_interest[0]
              %ul
                - grouped_interest[1].each do |interest|
                  %li
                    %span.meter{:"data-value" => 50 + (interest.users.size - 1) * @rate, min: 1, max: 100}<
                      = link_to interest.name, interest_path(interest)
                      %span= interest.users.size

  %aside
    %ul.listA
      %li
        = image_tag "thumb_placeholder2.jpg", width: 102, height: 103, alt: ""
        .desc
          %h5 Advert Goes Here
          %p Seshank - Here is where you can upload your own images and text to display to the users...

      %li
        = image_tag "thumb_placeholder3.jpg", width: 102, height: 103, alt: ""
        .desc
          %h5 Advert Goes Here
          %p Seshank - Here is where you can upload your own images and text to display to the users...